@using CPDCheckList.Web.Commons;
@{

    var areaName = "";
    var controllerName = "";
    var actionName = "";

    var user = new AccountLogin();
    var roleName = "";
    try
    {
        areaName = ViewContext.RouteData.DataTokens["area"].ToString();
        controllerName = ViewContext.RouteData.Values["controller"].ToString();
        actionName = ViewContext.RouteData.Values["action"].ToString();

        user = (AccountLogin)Session["USER_SESSION"];

        roleName = (user.RoleId == 3) ? "IPQC" : (user.RoleId == 2) ? "LineLeader" : "TE";
    }
    catch
    {

    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title | Check List System</title>

    <!-- Favicons -->
    <link href="~/Content/Image/fii-logo.jpg" rel="icon">

    <link href="~/Content/StyleSheet/GoogleFonts.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <!-- Vendor CSS Files -->
    <link href="~/Content/Template/NiceAdmin/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Template/NiceAdmin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/SweetAlert/swal.min.css" rel="stylesheet" />
    <!-- Datatable -->
    <link href="~/Content/Template/NiceAdmin/vendor/simple-datatables/style.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/Content/Template/NiceAdmin/css/style.css" rel="stylesheet" />
    <!-- Custume CSS File -->

    @RenderSection("styles", required: false)

</head>
<body>
    <!-- ======= Header ======= -->
    <input type="hidden" value="@ViewBag.Location" id="location" />
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="/Dashboard/Home/Home" class="logo d-flex align-items-center">
                <img src="~/Content/Image/fii-logo.jpg" alt="">
                <span class="d-none d-lg-block">Check List System</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        <div class="header-nav d-flex ms-auto">
            <span class="fs-2 text-primary" id="page_name"></span>
        </div>
        <div class="header-nav d-flex ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        @{
                            if (user.RoleId == 3)
                            {
                                <span class="badge bg-danger">
                                    <i class="bi bi-check-circle me-1"></i>
                                    <label>IPQC</label>
                                </span>
                            }
                            if (user.RoleId == 2)
                            {
                                <span class="badge bg-warning">
                                    <i class="bi bi-check-circle me-1"></i>
                                    <label>Leader</label>
                                </span>
                            }
                            if (user.RoleId == 1)
                            {
                                <span class="badge bg-success">
                                    <i class="bi bi-check-circle me-1"></i>
                                    <label>Employee</label>
                                </span>
                            }
                        }
                        <span class="d-none d-md-block dropdown-toggle ps-2" data-typeRole="@user.RoleId">@user.Username</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6></h6>
                            <span></span>
                        </li> <!-- Name -->

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-person"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-person"></i>
                                <span>Change Password</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/Login/Logout">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </div><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link @((areaName == "Dashboard") ? "" : "collapsed")" href="/Dashboard/Home/Home">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->


            <li class="nav-item">
                <a class="nav-link @((controllerName.Contains("BanDau")) ? "" : "collapsed")" data-bs-target="#BanDau-nav" data-bs-toggle="collapse" href="#" aria-expanded="true" aria-controls="collapseOne">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Bản đầu</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="BanDau-nav" class="nav-content @(controllerName.Contains("BanDau") ? "show" : "collapse")" data-bs-parent="#sidebar">
                    <li>
                        <a href="/BanDau/BanDau/F06" class="@((actionName =="F06" ) ? "active" : "")">
                            <i class="bi bi-circle"></i><span>Bản đầu (F06)</span>
                        </a>
                    </li>
                    <li>
                        <a href="/BanDau/BanDau/F17" class="@((actionName == "F17") ? "active" : "")">
                            <i class="bi bi-circle"></i><span>Bản đầu (F17)</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link @((controllerName.Contains("RutKiem") || controllerName.Contains("TemperatureHumidity")) ? "" : "collapsed")" data-bs-target="#RutKiem-nav" data-bs-toggle="collapse" href="#" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="bi bi-slack"></i><span>COPYIC</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="RutKiem-nav" class="nav-content @((controllerName.Contains("RutKiem") || controllerName.Contains("TemperatureHumidity")) ? "show" : "collapse")" data-bs-parent="#sidebar">
                    @if (roleName != "IPQC")
                    {
                        <li>
                            <a href="/RutKiem/RutKiem/WithDrawal_F17" class="@((actionName =="WithDrawal_F17" ) ? "active" : "")">
                                <i class="bi bi-circle"></i><span>Rút kiểm (F17)</span>
                            </a>
                        </li>
                    }
                    <li>
                        <a href="/TemperatureHumidity/TemperatureHumidity/TH_Monitoring_F17" class="@((actionName =="TH_Monitoring_F17" ) ? "active" : "")">
                            <i class="bi bi-circle"></i><span>Nhiệt độ & Độ ẩm (F17)</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link @((controllerName.Contains("DataFlow")) ? "" : "collapsed")" data-bs-target="#Lable-nav" data-bs-toggle="collapse" href="#" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="bi bi-aspect-ratio"></i><span>LABLE</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="Lable-nav" class="nav-content @((controllerName.Contains("DataFlow")) ? "show" : "collapse")" data-bs-parent="#sidebar">
                    <li>
                        <a href="/Lable/DataFlow/Index" class="@((actionName =="Index" ) ? "active" : "")">
                            <i class="bi bi-circle"></i><span>Lưu trình dữ liệu</span>
                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-heading">Pages</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/Login/Logout">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Sign Out</span>
                </a>
            </li><!-- End Login Page Nav -->
        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        @RenderBody()
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer fixed-bottom" style="background-color: #e7effb; padding: 0">
        <div class="col-12 copyright">
            2023 &copy; <strong><span>MBD A-IOT</span></strong>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- loader page -->
    <div id="loader-page" style="display: none">
        <img src="~/files/assets/images/Double-Ring-loading.gif" alt="loading" />
    </div><!-- end loader page -->
    <!-- Vendor JS Files -->
    <script src="~/Content/Template/NiceAdmin/js/jquery-3.6.4.min.js"></script>
    <script src="~/Content/Template/NiceAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/SweetAlert/swal.min.js"></script>

    <!-- Datatable -->
    <script src="~/Content/Template/NiceAdmin/vendor/simple-datatables/simple-datatables.js"></script>
    <!-- Template Main JS File -->
    <script src="~/Content/Template/NiceAdmin/js/main.js"></script>


    @RenderSection("render", required: false)
    @RenderSection("scripts", required: false)

</body>

</html>


