@using CPDCheckList.Web.Commons;

<!--<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <!-- Favicon icon -->
<!--<link rel="icon" href="~/files/assets/images/Logo-checklist.ico" type="image/x-icon">-->
<!-- Required Fremwork -->
<!--<link rel="stylesheet" type="text/css" href="~/files/bower_components/bootstrap/css/bootstrap.min.css">-->
<!-- themify-icons line icon -->
<!--<link rel="stylesheet" type="text/css" href="~/files/assets/icon/themify-icons/themify-icons.css">-->
<!-- ico font -->
<!--<link rel="stylesheet" type="text/css" href="~/files/assets/icon/icofont/css/icofont.css">-->
<!-- feather Awesome -->
<!--<link rel="stylesheet" type="text/css" href="~/files/assets/icon/feather/css/feather.css">-->
<!-- Data Table Css -->
<!--<link rel="stylesheet" type="text/css" href="~/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/files/assets/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/files/assets/pages/data-table/extensions/select/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/files/assets/css/jquery.mCustomScrollbar.css">
</head>

<body>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu"></i>
                        </a>
                        <a href="index-1.htm">

                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-addon search-close"><i class="feather icon-x"></i></span>
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon search-btn"><i class="feather icon-search"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="feather icon-maximize full-screen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="~/files/assets/images/person.jpg" class="img-radius" alt="User-Profile-Image">

                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <a href="/Login/Logout/">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
                            <li class="active">
                                <a href="/Dashboard/Home/Home">
                                    <span class="pcoded-micon"><i class="feather icon-watch"></i></span>
                                    <span class="pcoded-mtext">Home </span>
                                </a>
                            </li>
                            <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="feather icon-list"></i></span>
                                    <span class="pcoded-mtext">Quản lý check list</span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class="">
                                        <a href="/BanDau/BanDau/F06">
                                            <span class="pcoded-mtext">Bản đầu F06</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/BanDau/BanDau/F17">
                                            <span class="pcoded-mtext">Bản đầu F17</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/RutKiem/RutKiem/Index">
                                            <span class="pcoded-mtext">Quản lý rút kiểm</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/RutKiem/RutKiem/Index">
                                            <span class="pcoded-mtext">Kiểm tra nhiệt độ, độ ẩm tủ khô</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">-->
<!-- Main-body start -->
<!--<div class="main-body">
                        //RenderBody
                        </div>
                        <div class="page-footer" style="height: 20px; text-align: center;">
                            2023 &copy;  MBD-AIOT Dejan. Contact: <a href="#">31746</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- loader page -->
<!--<div id="loader-page">

</div>-->
<!-- end loader page -->
<!-- Required Jquery -->
<!--<script type="text/javascript" src="~/files/bower_components/jquery/js/jquery.min.js"></script>-->
@*<script type="text/javascript" src="~/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>*@
<!--<script type="text/javascript" src="~/files/bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="~/files/bower_components/bootstrap/js/bootstrap.min.js"></script>-->
<!-- jquery slimscroll js -->-->
<!--@*<script type="text/javascript" src="~/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>*@-->
<!--<!-- modernizr js -->-->
<!--@*<script type="text/javascript" src="~/files/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="~/files/bower_components/modernizr/js/css-scrollbars.js"></script>*@-->
<!--<!-- data-table js -->
<!--<script src="~/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>-->
@*<script src="~/files/assets/pages/data-table/js/jszip.min.js"></script>*@
@*<script src="~/files/assets/pages/data-table/js/pdfmake.min.js"></script>*@
@*<script src="~/files/assets/pages/data-table/js/vfs_fonts.js"></script>*@
<!--<script src="~/files/assets/pages/data-table/extensions/select/js/dataTables.select.min.js"></script>-->
@*<script src="~/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>*@
<!--<script src="~/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>-->
<!-- Editable-table js -->-->
<!--@*<script type="text/javascript" src="..\files\assets\pages\edit-table\jquery.tabledit.js"></script>
    <script type="text/javascript" src="..\files\assets\pages\edit-table\editable.js"></script>*@-->
<!--<!-- i18next.min.js -->-->
<!--@*<script type="text/javascript" src="~/files/bower_components/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="~/files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="~/files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="~/files/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>*@-->
<!--<!-- Custom js -->
<!--<script src="~/files/assets/pages/data-table/extensions/select/js/select-custom.js"></script>
<script src="~/files/assets/js/pcoded.min.js"></script>
<script src="~/files/assets/js/vartical-layout.min.js"></script>-->
@*<script src="~/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>*@
@*<script type="text/javascript" src="~/files/assets/js/script.js"></script>-->*@
<!-- Common JS -->
<!--<script src="~/files/assets/js/common-pages.js"></script>-->
<!--Swal alert-->
<!--<script src="~/files/library/sweet-alert2/sweetalert2.all.min.js"></script>-->
<!-- Page Script --->


@*</body>

</html>-->*@


@{ 
    var user = (AccountLogin)Session["USER_SESSION"];

    var roleName = (user.RoleId == 3) ? "IPQC" : (user.RoleId == 2) ? "LineLeader" : "TE";


    var areaName = "";
    var controllerName = "";
    var actionName = "";
    try
    {
        areaName = ViewContext.RouteData.DataTokens["area"].ToString();
        controllerName = ViewContext.RouteData.Values["controller"].ToString();
        actionName = ViewContext.RouteData.Values["action"].ToString();
    }
    catch
    {
    }
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title | Check List System</title>

    <!-- Favicons -->
    <link href="~/Content/Image/fii-logo.jpg" rel="icon">
    <link href="~/Content/StyleSheet/GoogleFonts.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <!-- Vendor CSS Files -->
    <link href="~/Content/Template/NiceAdmin/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Template/NiceAdmin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/SweetAlert/swal.min.css" rel="stylesheet" />
    <!-- Datatable -->
    <link href="~/Content/Template/NiceAdmin/vendor/simple-datatables/style.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/Content/Template/NiceAdmin/css/style.css" rel="stylesheet" />
    <!-- Custume CSS File -->

</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="/Dashboard/Home/Home" class="logo d-flex align-items-center">
                <img src="~/Content/Image/fii-logo.jpg" alt="">
                <span class="d-none d-lg-block">Check List System</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        <div class="header-nav d-flex ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        @{
                            if (user.RoleId == 3)
                            {
                                <span class="badge bg-danger">
                                    <i class="bi bi-check-circle me-1"></i>
                                    <label>IPQC</label>
                                </span>
                            }
                            if (user.RoleId == 2)
                            {
                                <span class="badge bg-warning">
                                    <i class="bi bi-check-circle me-1"></i>
                                    <label>Leader</label>
                                </span>
                            }
                            if (user.RoleId == 1)
                            {
                                <span class="badge bg-success">
                                    <i class="bi bi-check-circle me-1"></i>
                                    <label>Employee</label>
                                </span>
                            }
                        }
                        <span class="d-none d-md-block dropdown-toggle ps-2" data-typeRole="@user.RoleId">@user.Username</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6></h6>
                            <span></span>
                        </li> <!-- Name -->

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="">
                                <i class="bi bi-person"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" onclick="">
                                <i class="bi bi-person"></i>
                                <span>Change Password</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </div><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link @((areaName == "Dashboard") ? "" : "collapsed")" href="/Manager/Manager/Dashboard">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->
            <li class="nav-item">
                <a class="nav-link @((areaName.Contains("BanDau")) ? "" : "collapsed")" data-bs-target="#page-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Bản đầu</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="page-nav" class="nav-content @(areaName.Contains("BanDau") ? "" : "collapse")" data-bs-parent="#sidebar-nav">
                    @{
                        <li>
                            <a href="/BanDau/BanDau/F06" class="@((actionName =="F06" ) ? "active" : "")">
                                <i class="bi bi-circle"></i><span>Bản đầu F06</span>
                            </a>
                        </li>
                        <li>
                            <a href="/BanDau/BanDau/F17" class="@((actionName == "F17") ? "active" : "")">
                                <i class="bi bi-circle"></i><span>Bản đầu F17</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>

            <li class="nav-heading">Pages</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Sign Out</span>
                </a>
            </li><!-- End Login Page Nav -->
        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        @RenderBody()
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer fixed-bottom" style="background-color: #e7effb; padding: 0">
        <div class="col-12 copyright">
            2023 &copy; <strong><span>MBD A-IOT</span></strong>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- loader page -->
    <div id="loader-page" style="display: none">
        <img src="~/files/assets/images/Double-Ring-loading.gif" alt="loading" />
    </div><!-- end loader page -->
    <!-- Vendor JS Files -->
    <script src="~/Content/Template/NiceAdmin/js/jquery-3.6.4.min.js"></script>
    <script src="~/Content/Template/NiceAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/SweetAlert/swal.min.js"></script>

    <!-- Datatable -->
    <script src="~/Content/Template/NiceAdmin/vendor/simple-datatables/simple-datatables.js"></script>
    <!-- Template Main JS File -->
    <script src="~/Content/Template/NiceAdmin/js/main.js"></script>
    <script src="~/files/assets/js/common-pages.js"></script>

    @RenderSection("render", required: false)

</body>

</html>


